*,
*::before,
*::after {
     margin: 0;
}

/* Set the with to 100% and specify bgcolor */
.navbar {
     display: flex;
     justify-content: flex-end;
     width: 100%;
     background: #9fb3bf;
     /*box-shadow a very lovely css property  */
     /* box-shadow: 0 2px 5px 0 rgba(47, 47, 47, 0.226), 0 2px 10px 0 rgb(0, 0, 0 ,0.12); */

}

/* div ul */
.navbar .main-nav {
     text-align: left;
     display: inline;
     margin: 0;
     padding: 0;
     list-style: none;
}

/* ul li:hover */
.main-nav li:hover {
     /* same color with text and */
     background: #9fb3bf;
     transition: .3s ease-in;
}

/* ul li */
.main-nav li {
     font: bold 12px/18px sans-serif;
     display: inline-block;
     position: relative;
     padding: 16px 10px;
     color: #9fb3bf;
}

/* ul li a */
.main-nav li a {
     text-decoration: none;
     padding: 16px 10px;
     color: #090b0d;
     font-size: 14px;
}

/* ul li a:hover */

.main-nav li a:hover {
     color: #090b0d;
}


/* ul li ul */
.main-nav li ul {
     padding: 0;
     position: absolute;
     top: 50px;
     right: -42px;
     width: 140px;
     display: none;
     visibility: hidden;
}

/* ul li ul li */
.main-nav li ul li {
     background: #9fb3bf;
     display: block;
     border-bottom: 1px solid #425059;
     /* border-radius: 0 10px 5px 5px;*/

}


/* ul li ul li:hover */
/* .main-nav li ul li:hover {
     background: #9fb3bf;
     transition: .3s ease-out


} */

/* ul li ul li a */
.main-nav li ul li a {
     color: #090b0d;

}

/* ul li:hover ul  */
.main-nav li:hover ul {
     display: block;
     opacity: 1;
     visibility: visible;
     transition: .2s ease;
}

main {
     height: 100vh;
     background-color: #9fb3bf;
     width: 100%;
}

.container {
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     grid-gap: 2em;
     justify-content: space-between;
     grid-auto-rows: 100px;
     grid-column-gap: 1em;
     /*just like margin */
     grid-row-gap: 1em;
     grid-gap: 1em;
}

.container>div {
     border: 2px solid white;
}

.box1 {
     grid-column: 1/2;
     grid-row: 1/5;
}

.box2 {
     grid-column: 2/3;
     grid-row: 1/2;
}