*,
*::before,
*::after {
     margin: 0;
}

/* Set the with to 100% and specify bgcolor */
.navbar {
     display: flex;
     justify-content: flex-end;
     width: 100%;
     background: #9fb3bf;
     /*box-shadow a very lovely css property  */
     /* box-shadow: 0 2px 5px 0 rgba(47, 47, 47, 0.226), 0 2px 10px 0 rgb(0, 0, 0 ,0.12); */

}

/* div ul */
.navbar .main-nav {
     text-align: left;
     display: inline;
     margin: 0;
     padding: 0;
     list-style: none;
}

/* ul li:hover */
.main-nav li:hover {
     /* same color with text and */
     background: #9fb3bf;
     transition: .3s ease-in;
}

/* ul li */
.main-nav li {
     font: bold 12px/18px sans-serif;
     display: inline-block;
     position: relative;
     padding: 16px 10px;
     color: #9fb3bf;
}

/* ul li a */
.main-nav li a {
     text-decoration: none;
     padding: 16px 10px;
     color: #9fb3bf;
     font-size: 14px;
}

/* ul li a:hover */

.main-nav li a:hover {
     color: #090b0d;
}


/* ul li ul */
.main-nav li ul {
     padding: 0;
     position: absolute;
     top: 50px;
     right: -42px;
     width: 140px;
     display: none;
     visibility: hidden;
}

/* ul li ul li */
.main-nav li ul li {
     background: #9fb3bf;
     display: block;
     border-bottom: 1px solid #425059;
     /* border-radius: 0 10px 5px 5px;*/

}


/* ul li ul li:hover */
/* .main-nav li ul li:hover {
     background: #9fb3bf;
     transition: .3s ease-out


} */

/* ul li ul li a */
.main-nav li ul li a {
     color: #090b0d;

}

/* ul li:hover ul  */
.main-nav li:hover ul {
     display: block;
     opacity: 1;
     visibility: visible;
     transition: .2s ease;
}

main {
     height: 100vh;
     background-color: #9fb3bf;
     width: 100%;
}

.black {
     background: #090b0d;
}

.container {
     padding-top: 100px;
     text-align: center;

}

h1 {
     color: #1c2226;
     font-family: 'Segoe UI', Tahoma, Verdana;
     font-size: 2em;
     margin-bottom: 20px;
}

.paragraph {
     margin-right: 100px;
     margin-left: 100px;
}

.grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-auto-rows: minmax(300px, auto);
     align-content: center;
     margin-top: 50px;
     grid-gap: 3em;
     margin-left: 100px;
     margin-right: 100px;
     transition: .3s ease-in all;

}

.grid>div {
     background: #fff;
     text-align: center;
     border-radius: 5px;
     box-shadow: 0 0 20px 0 rgb(32, 32, 32), 0 0 30px 0 rgba(0, 0, 0, 0.623);
}

h3 {
     text-align: center;
     margin-bottom: 50px;
}

p {
     padding: 10px;
     margin-bottom:40px;
}

img {
     height: 100px;
     width: 100px;
     border-radius: 50%;
     padding: 30px;
}

@media(max-width: 815px) {
     .grid {
          grid-template-columns: 0;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          padding-bottom: 2rem;
     }

     .grid>div {
          grid-column: 1 / 4;
          width: 100%;
     }

     .paragraph {
          margin-left: 0;
          margin-right: 0;
     }

     main {
          height: auto;
     }

     .box {
          width: 100%;
     }
}
