*,
*::before,
*::after {
    margin: 0;
}


/* Set the with to 100% and specify bgcolor */

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: #090B0D;
    /*box-shadow a very lovely css property  */
    /* box-shadow: 0 2px 5px 0 rgba(47, 47, 47, 0.226), 0 2px 10px 0 rgb(0, 0, 0 ,0.12); */
}


/* div ul */

.navbar .main-nav {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ul li:hover */

.main-nav li:hover {
    /* same color with text and */
    background: #9fb3bf;
    transition: .3s ease-in;
}


/* ul li */

.main-nav li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    position: relative;
    padding: 16px 10px;
    color: #9fb3bf;
}


/* ul li a */

.main-nav li a {
    text-decoration: none;
    padding: 16px 10px;
    color: #9fb3bf;
    font-size: 14px;
}


/* ul li a:hover */

.main-nav li a:hover {
    color: #090b0d;
}


/* ul li ul */

.main-nav li ul {
    padding: 0;
    position: absolute;
    top: 50px;
    right: -42px;
    width: 140px;
    display: none;
    visibility: hidden;
}


/* ul li ul li */

.main-nav li ul li {
    background: #9fb3bf;
    display: block;
    border-bottom: 1px solid #425059;
    /* border-radius: 0 10px 5px 5px;*/
}


/* ul li ul li:hover */


/* .main-nav li ul li:hover {
     background: #9fb3bf;
     transition: .3s ease-out


} */


/* ul li ul li a */

.main-nav li ul li a {
    color: #090b0d;
}


/* ul li:hover ul  */

.main-nav li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: .2s ease;
}

main {
    background-color: #090B0D;
    background-size: cover;
    height: 100vh;
}

.resize {
    height: 400px;
    width: 300px;
    position: absolute;
    top: 140px;
    left: 100px;
    border: 5px solid #9fb3bf;
    border-radius: 5px 5px 5px 5px;
    zoom: 1.2;
    background-image: url(../img/dp2.jpg);
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.wrapper {
    display: flex;
    flex-direction: row;

}

.outer {
    border-radius: 5px 5px 5px 5px;
    border: 5px solid #425059;
    margin-top: 90px;
    margin-left: 80px;
    height: 470px;
    width: 370px;
}

.container {
    flex: 1;
    flex-basis: 200%;
}

.about {
    position: relative;
    margin-top: 85px;
    margin-right: 100px;
}

.header-1 {
    font-family: Arial;
    color: #9fb3bf;
    font-stretch: expanded;
    font-size: 2em;
    padding-bottom: 55px;
}

p {
    color: #9fb3bf;
    padding-bottom: 20px
}

strong {
    font-size: 1em;
    font-weight: bold;
}

p::first-letter {
    font-size: 1.5em;
}


/* Contact styles */
.wrap {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(300px, auto);
}


.image {
    background-image: url(../img/dp2.jpg);
    align-content: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100vh;
}

.contact-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9fb3bf;
    font-size: 2em;
    font-weight: normal;
    white-space: pre-wrap;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 55px;
}

.contact-paragraph {
    color: #6c808c;
    margin: 0 55px;
}

.social {
    color: #6c808c;
    margin-left: 55px;
    font-weight: 600;
}

footer {
    background-color: #090b0d;
    padding: 15px;
    color: #9fb3bf;
    font-size: 1em;
    text-align: center;
}